<%- include("header") -%>

<h2>This is the about page.</h2>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut aliquam,
  exercitationem nemo dolores, eveniet autem qui nihil optio vel facere
  doloremque numquam, quibusdam aperiam laborum quis amet facilis vitae dicta!
  Voluptatum, ratione? Quos recusandae nam vero enim fugiat sapiente animi ipsa
  quo tenetur expedita tempore, quis a consequuntur eaque corporis laboriosam
  facilis cum laborum vitae numquam ipsam assumenda temporibus dolore! Maxime in
  eos consequatur culpa nulla porro quam adipisci itaque repellendus aliquam
  odio libero, officiis doloribus aut architecto quo modi quaerat cum possimus?
  Dolorum excepturi odit impedit, cum molestias ut dolor eveniet. Veritatis
  iusto numquam eveniet praesentium magni soluta odio!
</p>

<%- include("footer") -%>
